template(name="giftImage")
  img(src="http://res.cloudinary.com/webdo/image/fetch/w_400,h_400,c_scale,c_fill,f_auto/{{image}}", alt=title)

template(name="giftSmall")
  a.gift-small(href="{{pathFor 'gift.show'}}")
    .gift-small-image
      +giftImage
    .gift-small-description.card-border
      | {{userName}}
      span.stars
        each prio
          span
    unless isOwner
      .gift-small-state.card-border
        if buyerId
          .buyed par {{buyerName}}
        else
          if lockerId
            .lock par {{lockerName}}
          else
            | Disponbile       
    .gift-small-title.card-border= title

template(name="giftShow")
  .gift
    h1= title
    if isEditableBy currentUser
      a.button.edit(href="{{pathFor 'gift.update'}}")
        i Edit
      if archived
        button.unarchive
          i D&eacute;-archiver
      else
        button.archive
          i Archiver
    else
      button.lock
        i
        if lockerId
          | par {{lockerName}}
        else
          | Réserver
      button.buy
        i
        if buyerId
          | par {{buyerName}}
        else
          | Acheter

    .gift-profile
      .gift-section.gift-picture
        .gift-image
          if image
            +giftImage
          else
            img(src="/photo/gift-default.png", alt=title)
        .stars
          each prio
            span
        a.user-name(href="{{pathFor 'user.gifts' _id=ownerId}}") {{userName}}
      .gift-section.gift-description
        .padding
          p Créé le : {{createdAt}}
        if link
          p
            a(href=link, target="_blank") Visiter le site marchand
        +markdown
          {{detail}}
    .all-comments
      if ownerIsNot currentUser
        .comments.private
          each privateComments
            +giftComment
          h4 Commentaire
          .panel-body
            +autoForm collection="Comments" id="insertPrivateComment" type="insert"
              +afFieldInput name="message"
              +afFieldInput name="visible" value="false"
              +afFieldInput name="giftId" value=../_id
              br
              button(type="submit") Envoyer

      .comments
        each publicComments
          +giftComment
        .warning
          h4 Ce message sera visible par <b>{{ownerName}}</b>
        div
          +autoForm collection="Comments" id="insertPublicComment" type="insert"
            +afFieldInput name="message"
            +afFieldInput name="visible" value="true"
            +afFieldInput name="giftId" value=../_id
            br
            button(type="submit") Envoyer

