template(name="gift")
  a.gift-small(href="{{pathFor 'gift.show'}}")
    .gift-small-image
      img(src="{{image}}" alt=title)
    .gift-small-description
      p= userName
      p= description
    .gift-small-title= title

template(name="gift_")
  a(href="{{pathFor 'gift.show'}}")
    .gift.card.small
      .card-image.waves-effect.waves-block.waves-light(style="height:230px")
        img.responsive-img(src="{{image}}" alt=title)
        .card-title.truncate= title
      .card-content
        .stars
          each prio
            span.mdi-action-grade
        div= userName
        .gift-action
          +giftAction
