head
  title Webdo - Gestionnaire famillial de cadeaux
  link(rel="icon", type="image/png", href="/favicon.png")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

template(name="masterLayout")
  +navBar
  .container
    +yield

template(name="navBar")
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
      .navbar-header
        ul.nav.navbar-nav
          li
            a.navbar-brand(href="/")
              span Webdo
      if currentUser
        ul.nav.navbar-nav.navbar-right
          li
            a(href="{{pathFor 'users'}}")
              i.mdi-social-people
          li
            +with currentUser
              a(href="{{pathFor 'user.gifts'}}")
                i.mdi-social-person
          li
            a(href="{{pathFor 'gift.create' _id=currentUser._id}}")
              i.mdi-content-add

template(name="home")
  h1 Gestionnaire Famillial de cadeaux
  if currentUser
    +homeGifts
    a(href="/sign-out") Déconnecter
  else
    +entrySignIn

template(name="homeGifts")
  h2 Cadeaux &agrave; acheter
  if noGiftToBuy
    .well Aucune cadeau &agrave; acheter
  else
    .row
      each toBuyGifts
        +gift
  h2 Cadeaux achet&eacute;s
  if noGiftBuyed
    .well Tu n'as toujours pas acheter tes cadeaux!
  else
    .row
      each buyedGifts
        +gift

template(name="giftFieldset")
    fieldset
      legend Information du cadeau

      +afQuickField name='title' autofocus=''

      .form-group(class="{{#if afFieldIsInvalid name='link'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='link'}}
        +afFieldInput name="link" max=1024
        if afFieldIsInvalid name='link'
          span.help-block {{afFieldMessage name='link'}}

      .form-group(class="{{#if afFieldIsInvalid name='image'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='image'}}
        +afFieldInput name="image" max=1024
        if afFieldIsInvalid name='image'
          span.help-block {{afFieldMessage name='image'}}

      +afQuickField name='ownerId' options=friends
      +afQuickField name='priority' options=priorities
      +afQuickField name='detail' rows=10

template(name="giftCreate")
  +autoForm collection="Gifts" id="insertGiftForm" type="insert"
    +giftFieldset
    button.btn.btn-success.btn-fab.btn-raised.btn-float.mdi-action-done(type="submit")

template(name="giftUpdate")
  +autoForm collection="Gifts" doc=this id="updateGiftForm" type="update"
    +giftFieldset
    button.btn.btn-primary(type="submit") Mettre à jour le cadeau

template(name="userUpdate")
  +quickForm schema=profile doc=this id="updateUserForm"

template(name="userGifts")
  .well
    .row
      .col-xs-12.col-sm-9
        h1= user.username
      if isOwner
        .col-xs-12.col-sm-3
          a.btn.btn-primary(href="{{pathFor route='user.update'}}") modifier mon profile
    .row
      .col-xs-12.col-sm-3
        .thumbnail
          img.avatar(src=user.profile.avatar, alt=user.username)
      .col-xs-12.col-sm-3
        .panel.panel-success
          .panel-heading
            h3.panel-title Description
          .panel-body
            +markdown
              {{user.profile.description}}
      .col-xs-12.col-sm-3
        .panel.panel-success
          .panel-heading
            h3.panel-title J'aime
          .panel-body
            +markdown
              {{user.profile.like}}
      .col-xs-12.col-sm-3
        .panel.panel-danger
          .panel-heading
            h3.panel-title Je n'aime pas
          .panel-body
            +markdown
              {{user.profile.dislike}}
  .row
    each gifts
      +gift
  div
    if archived
      a(href="{{pathFor 'user.gifts'}}") Voir les cadeaux
    else
      a(href="{{pathFor route='user.gifts' query='archived=1'}}") Voir les cadeaux archiv&eacute;s


template(name="gift")
  .col-xs-12.col-sm-6.col-md-3.gift
    a.thumbnail.well(href="{{pathFor 'gift.show'}}")
      if image
        img.avatar(src="http://i.embed.ly/1/display/crop?key=cc929639d5194e01a5d5f054d84dd43e&height=400&width=400&url={{image}}", alt=title)
      else
        img.avatar(src="/favicon.png", alt=title)
      .stars
        each prio
          span.mdi-action-grade
      .bottom
        .pull-left= title
        .pull-right.gift-action
          +giftAction

template(name="giftAction")
  if ownerIs currentUser
    if archived
      i.unarchive.mdi-content-inbox
    else
      i.archive.mdi-content-archive
  else
    if archived
      i.unarchive.mdi-content-inbox
    else if buyerId
      i.archive.mdi-content-archive
    else if lockerId
      i.buy.mdi-action-add-shopping-cart
    else
      i.lock.mdi-action-lock-open

template(name="giftShow")
  .row
    if isEditableBy currentUser
      .col-xs-12.padding
        a.btn.btn-primary.btn-responsive(href="{{pathFor 'gift.update'}}")
          i.mdi-editor-mode-edit
            span.hidden-xs  Edit
        if archived
          a.btn.btn-responsive.btn-danger.unarchive
            i.mdi-content-inbox
            span.hidden-xs  D&eacute;-archiver
        else
          a.btn.btn-responsive.btn-danger.archive
            i.mdi-content-archive
            span.hidden-xs  Archiver
    else
      .col-xs-12.padding.pull-right
        a.btn.btn-responsive.btn-primary.lock
          i.mdi-action-lock-open
            span.hidden-xs
              if lockerId
                | par {{lockerName}}
              else
                | Réserver
        a.btn.btn-responsive.btn-success.buy
          i.mdi-action-add-shopping-cart
            span.hidden-xs
              if buyerId
                | par {{buyerName}}
              else
                |  Acheter

  .row
    h1.col-xs-12= title

  .row
    .col-xs-12.col-md-6.padding
      if image
        img.img-responsive(src="http://i.embed.ly/1/display/crop?key=cc929639d5194e01a5d5f054d84dd43e&height=400&width=400&url={{image}}", alt=title)
      else
        img(src="/favicon.png", alt=title)
      .stars
        each prio
          span.mdi-action-grade
      .padding.visible-xs
        if lockerId
          p Réservé par : {{lockerName}}
        if buyerId
          p Acheté par : {{buyerName}}
      .padding
        p Créé le : {{createdAt}}
    .col-xs-12.col-md-6.well
      if link
        p
          a(href=link, target="_blank") Visiter le site marchand
      +markdown
        {{detail}}
  .row
    if ownerIsNot currentUser
      .col-xs-12.col-md-6
        each privateComments
          +giftComment
        .panel.panel-primary
          .panel-heading
            h3.panel-title Commentaire
          .panel-body
            +autoForm collection="Comments" id="insertPrivateComment" type="insert"
              +afFieldInput name="message" autofocus=""
              +afFieldInput name="visible" value=false
              +afFieldInput name="giftId" value=../_id
            br
            button.btn.btn-success(type="submit") Envoyer

    .col-xs12.col-md-6
      each publicComments
        +giftComment
      .panel.panel-warning
        .panel-heading
          h3.panel-title Ce message sera visible par <b>{{ownerName}}</b>
        .panel-body
          +autoForm collection="Comments" id="insertPrivateComment" type="insert"
              +afFieldInput name="message" autofocus=""
              +afFieldInput name="visible" value=true
              +afFieldInput name="giftId" value=../_id
          br
          button.btn.btn-success(type="submit") Envoyer

template(name="giftComment")
  div Par {{author}}
  div= createdAt
  pre= message

template(name="users")
  .row
    each users
      .col-xs-12.col-md-6
        a.thumbnail.well(href="{{pathFor 'user.gifts'}}")
          if profile.avatar
            img.avatar(src=profile.avatar, alt=profile.name)
          else
            img.avatar(src="/anonymous.jpg", alt=profile.name)
          div= username

