head
  title Webdo - Gestionnaire famillial de cadeaux
  link(rel="icon", type="image/png", href="/favicon.png")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

template(name="masterLayout")
  +navBar
  div.container
    +yield

template(name="navBar")
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header
        ul.nav.navbar-nav
          li
            a.navbar-brand(href="/")
              span Webdo
      if currentUser
        ul.nav.navbar-nav.navbar-right
          li
            a(href="{{pathFor 'listUser'}}")
              i.mdi-social-people
          li
            +with currentUser
              a(href="{{pathFor 'listGift'}}")
                i.mdi-social-person
          li
            a(href="{{pathFor 'createGift'}}")
              i.mdi-content-add



template(name="home")
  h2 Gestionnaire Famillial de cadeaux
  if currentUser
    a(href="/sign-out") Déconnecter
  else
    +entrySignIn

template(name="giftFieldset")
    fieldset
      legend Créer un nouveau cadeau

      +afQuickField name='title' autofocus=''

      div.form-group(class="{{#if afFieldIsInvalid name='link'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='link'}}
        +afFieldInput name="link" max=1024
        if afFieldIsInvalid name='link'
          span.help-block {{afFieldMessage name='link'}}

      div.form-group(class="{{#if afFieldIsInvalid name='image'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='image'}}
        +afFieldInput name="image" max=1024
        if afFieldIsInvalid name='image'
          span.help-block {{afFieldMessage name='image'}}

      +afQuickField name='priority' options=priorities
      +afQuickField name='detail' rows=10

template(name="createGift")
  +autoForm collection="Gifts" id="insertGiftForm" type="insert"}}
    +giftFieldset
    button.btn.btn-success.btn-fab.btn-raised.btn-float.mdi-action-done(type="submit")

template(name="updateGift")
  +autoForm collection="Gifts" doc=this id="updateGiftForm" type="update"}}
    +giftFieldset
    button.btn.btn-primary(type="submit") Mettre à jour le cadeau


template(name="listGift")
  div.row
    each gifts
      +gift
  div
    if archived
      a(href="{{pathFor 'listGift'}}") Voir les cadeaux
    else
      a(href="{{pathFor route='listGift' query='archived=1'}}") Voir les cadeaux archiver


template(name="gift")
  div.col-xs-12.col-sm-6.col-md-3
    a.thumbnail(href="{{pathFor 'displayGift'}}")
      if image
        img(src="http://i.embed.ly/1/display/crop?key=cc929639d5194e01a5d5f054d84dd43e&height=400&width=400&url={{image}}", alt=title)
      else
        img(src="/favicon.png", alt=title)
      div.stars
        each prio
          span.mdi-action-grade
      div.bottom
        span= title
        span.pull-right.gift-action
          +giftAction

template(name="giftAction")
  if ownerIs currentUser
    if archiverId
      i.unarchive.mdi-content-undo
    else
      i.archive.mdi-content-archive
  else
    if archiverId
      i.unarchive.mdi-content-undo
    else if buyerId
      i.archive.mdi-content-archive
    else if lockerId
      i.buy.mdi-action-add-shopping-cart
    else
      i.lock.mdi-action-lock-open

template(name="displayGift")

  div.row
    if ownerIs currentUser
      div.col-xs-12.padding
        a.btn
          i.mdi-content-archive.archive
          span.hidden-xs  Archiver
    else
      div.col-xs-12.padding.pull-right
        a.btn.btn-default.btn-responsive(href="{{pathFor 'updateGift'}}")
          i.mdi-editor-mode-edit
            span.hidden-xs  Edit
        a.btn.btn-responsive.btn-primary.lock
          i.mdi-action-lock-open
            span.hidden-xs
              if lockerId
                | par {{lockerName}}
              else
                | Réserver
        a.btn.btn-responsive.btn-success.buy
          i.mdi-action-add-shopping-cart
            span.hidden-xs
              if buyerId
                | par {{buyerName}}
              else
                |  Acheter
        a.btn.btn-responsive.btn-danger.archive
          i.mdi-content-archive
            span.hidden-xs  Archiver

  div.row
    h1.col-xs-12= title

  div.row
    div.col-xs-12.col-md-4.padding
      if image
        img.img-responsive(src="http://i.embed.ly/1/display/crop?key=cc929639d5194e01a5d5f054d84dd43e&height=400&width=400&url={{image}}", alt=title)
      else
        img(src="/favicon.png", alt=title)
      div.stars
        each prio
          span.fa.fa-star
      div.padding.visible-xs
        if lockerId
          p Réservé par : {{lockerName}}
        if buyerId
          p Acheté par : {{buyerName}}
      div.padding
        p Créé le : {{createdAt}}
        if link
          p
            a(href=link.visible-xs, target="_blank") Visiter le site marchand
        +markdown
           | {{detail}}

template(name="listUser")
  div.row
    each users
      div.col-xs-6.col-md-3
        a.thumbnail(href="{{pathFor 'listGift'}}")
          if profile.picture
            img(src=profile.picture, alt=profile.name)
          else
            img(src="/anonymous.jpg", alt=profile.name)
          span= profile.name

