head
  title Webdo - Gestionnaire famillial de cadeaux
  link(rel="icon", type="image/png", href="/favicon.png")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

template(name="masterLayout")
  .body
    +navbar
    +yield

template(name="giftFieldset")
    fieldset
      legend Information du cadeau

      .form-group(class="{{#if afFieldIsInvalid name='link'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='link'}}
        +afFieldInput name="link" max=1024 autofocus=''
        if afFieldIsInvalid name='link'
          span.help-block {{afFieldMessage name='link'}}

      +afQuickField name='title'

      .form-group(class="{{#if afFieldIsInvalid name='image'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='image'}}
        +afFieldInput name="image" max=1024
        if afFieldIsInvalid name='image'
          span.help-block {{afFieldMessage name='image'}}

      +afQuickField name='ownerId' options=friends value=giftOwnerId
      +afQuickField name='priority' options=priorities
      +afQuickField name='detail' rows=10

template(name="giftCreate")
  +autoForm collection="Gifts" id="insertGiftForm" type="insert"
    +giftFieldset
    button(type="submit") Ajouter

template(name="giftUpdate")
  +autoForm collection="Gifts" doc=this id="updateGiftForm" type="update"
    +giftFieldset
    button(type="submit") Mettre à jour le cadeau

template(name="userUpdate")
  +autoForm schema=profile doc=this id="updateUserForm"
    {{> afQuickFields}}
    button(type="submit") Mettre à jour mon profile

template(name="giftComment")
  div Par {{author}}
    span= createdAt
  p
    +markdown 
      {{message}}

template(name="users")
  .user-list
    each users
      +userSmall

template(name="loading")
  .row
    .col.offset-s3.offset-m5.center-align
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-red
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-yellow
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
      div Loading ...

// XXX redo action directly on the gift?
template(name="giftAction")
  if ownerIs currentUser
    if archived
      i.unarchive.mdi-content-inbox
    else
      i.archive.mdi-content-archive
  else
    if archived
      i.unarchive.mdi-content-inbox
    else if buyerId
      i.archive.mdi-content-archive
    else if lockerId
      i.buy.mdi-action-add-shopping-cart
    else
      i.lock.mdi-action-lock-open