head
  title Webdo - Gestionnaire famillial de cadeaux
  link(rel="icon", type="image/png", href="/favicon.png")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

template(name="masterLayout")
  +navBar
  .container
    +yield

template(name="navBar")
  nav(role="navigation")
    .container
      .nav-wrapper
        a.brand-logo(href="/") Webdo
          // span(style="color: red") &#0223;
        if currentUser
          ul.right
            li
              a(href="{{pathFor 'users'}}")
                i.mdi-social-people
            li
              +with currentUser
                a(href="{{pathFor 'user.gifts'}}")
                  i.mdi-social-person
            li
              a(href="{{pathFor 'gift.create' _id=currentUser._id}}")
                i.mdi-content-add

template(name="home")
  h3 Gestionnaire Famillial de cadeaux
  if currentUser
    +homeGifts
    a(href="/sign-out") Déconnecter
  else
    +entrySignIn

template(name="homeGifts")
    .row
      .col.s12.m6.l8
        h4 Cadeaux &agrave; acheter
        if giftToBuy
          .row
            each toBuyGifts
              .col.s12.m12.l6
                +gift
        else
          .well Aucune cadeau &agrave; acheter

        h4 Cadeaux achet&eacute;s
        if giftBuyed
          .row
            each buyedGifts
              .col.s12.m12.l6
                +gift
        else
          .well Tu n'as toujours pas acheter tes cadeaux!
      .col.s12.m6.l4
        h4 Dernier cadeaux ajoutés
        each latestGifts
          .col.s12.m12
              +gift

template(name="giftFieldset")
    fieldset
      legend Information du cadeau

      +afQuickField name='title' autofocus=''

      .form-group(class="{{#if afFieldIsInvalid name='link'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='link'}}
        +afFieldInput name="link" max=1024
        if afFieldIsInvalid name='link'
          span.help-block {{afFieldMessage name='link'}}

      .form-group(class="{{#if afFieldIsInvalid name='image'}}has-error{{/if}}")
        label.control-label {{afFieldLabelText name='image'}}
        +afFieldInput name="image" max=1024
        if afFieldIsInvalid name='image'
          span.help-block {{afFieldMessage name='image'}}

      +afQuickField name='ownerId' options=friends value=giftOwnerId
      +afQuickField name='priority' options=priorities
      +afQuickField name='detail' rows=10

template(name="giftCreate")
  +autoForm collection="Gifts" id="insertGiftForm" type="insert"
    +giftFieldset
    button.btn.btn-float.mdi-action-done(type="submit")

template(name="giftUpdate")
  +autoForm collection="Gifts" doc=this id="updateGiftForm" type="update"
    +giftFieldset
    button.btn.btn-primary(type="submit") Mettre à jour le cadeau

template(name="userUpdate")
  +quickForm schema=profile doc=this id="updateUserForm"

template(name="userGifts")
  .row
    .col.s12.m6
      .card
        .card-image.waves-effect.waves-block.waves-light
          img.responsive-img(src=user.profile.avatar, alt=user.username)
          h1.card-title= user.username
        .card-content
          +markdown
            {{user.profile.description}}
    .col.s12.m6
      .panel.panel-success
        .panel-heading
          h3.panel-title J'aime
        .panel-body
          +markdown
            {{user.profile.like}}
      .panel.panel-danger
        .panel-heading
          h3.panel-title Je n'aime pas
        .panel-body
          +markdown
            {{user.profile.dislike}}
  if isOwner
    .row
      .col.s12.m3
        a.btn.btn-primary(href="{{pathFor route='user.update'}}") modifier mon profile
  .row
    each gifts
      .col.s12.m3
        +gift
  div
    if archived
      a(href="{{pathFor 'user.gifts'}}") Voir les cadeaux
    else
      a(href="{{pathFor route='user.gifts' query='archived=1'}}") Voir les cadeaux archiv&eacute;s


template(name="gift")
  a(href="{{pathFor 'gift.show'}}")
    .gift.card.small
      .card-image.waves-effect.waves-block.waves-light(style="height:230px")
        img.responsive-img(src="{{image}}" alt=title)
        .card-title.truncate= title
      .card-content
        .stars
          each prio
            span.mdi-action-grade
        div= userName
        .gift-action
          +giftAction

template(name="giftAction")
  if ownerIs currentUser
    if archived
      i.unarchive.mdi-content-inbox
    else
      i.archive.mdi-content-archive
  else
    if archived
      i.unarchive.mdi-content-inbox
    else if buyerId
      i.archive.mdi-content-archive
    else if lockerId
      i.buy.mdi-action-add-shopping-cart
    else
      i.lock.mdi-action-lock-open

template(name="giftShow")
  .row
    if isEditableBy currentUser
      .col.s12.padding
        a.btn.btn-primary.btn-responsive(href="{{pathFor 'gift.update'}}")
          i.mdi-editor-mode-edit
            span  Edit
        if archived
          a.btn.btn-responsive.btn-danger.unarchive
            i.mdi-content-inbox
            span  D&eacute;-archiver
        else
          a.btn.btn-responsive.btn-danger.archive
            i.mdi-content-archive
            span  Archiver
    else
      .col.s12.padding.pull-right
        a.btn.btn-responsive.btn-primary.lock
          i.mdi-action-lock-open
            span
              if lockerId
                | par {{lockerName}}
              else
                | Réserver
        a.btn.btn-responsive.btn-success.buy
          i.mdi-action-add-shopping-cart
            span
              if buyerId
                | par {{buyerName}}
              else
                | Acheter

  .row
    h1.col.s12= title

  .row
    .col.s12.m6.padding
      if image
        img.responsive-img(src="http://i.embed.ly/1/display/crop?key=cc929639d5194e01a5d5f054d84dd43e&height=400&width=400&url={{image}}", alt=title)
      else
        img.responsive-img(src="/favicon.png", alt=title)
      .stars
        each prio
          span.mdi-action-grade
      .padding.visible-xs
        if lockerId
          p Réservé par : {{lockerName}}
        if buyerId
          p Acheté par : {{buyerName}}
      .padding
        p Créé le : {{createdAt}}
    .col.s12.m6.well
      if link
        p
          a(href=link, target="_blank") Visiter le site marchand
      +markdown
        {{detail}}
  .row
    if ownerIsNot currentUser
      .col.s12.m6
        each privateComments
          +giftComment
        .panel.panel-primary
          .panel-heading
            h4.panel-title Commentaire
          .panel-body
            +autoForm collection="Comments" id="insertPrivateComment" type="insert"
              +afFieldInput name="message"
              +afFieldInput name="visible" value="false"
              +afFieldInput name="giftId" value=../_id
              br
              button.btn.btn-success(type="submit") Envoyer

    .col.s12.m6
      each publicComments
        +giftComment
      .panel.panel-warning
        .panel-heading
          h4.panel-title Ce message sera visible par <b>{{ownerName}}</b>
        .panel-body
          +autoForm collection="Comments" id="insertPublicComment" type="insert"
            +afFieldInput name="message"
            +afFieldInput name="visible" value="true"
            +afFieldInput name="giftId" value=../_id
            br
            button.btn.btn-success(type="submit") Envoyer

template(name="giftComment")
  div Par {{author}}
  div= createdAt
  pre= message

template(name="users")
  .row
    each users
      .col.s12.m4
        a(href="{{pathFor 'user.gifts'}}")
          .user.card.small
            .card-image.waves-effect.waves-block.waves-light(sytle="height:300px")
              if profile.avatar
                img.responsive-img(src=profile.avatar, alt=profile.name)
              else
                img.responsive-img(src="/anonymous.jpg", alt=profile.name)
              span.card-title= username

template(name="loading")
  .row
    .col.offset-s3.offset-m5.center-align
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-red
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-yellow
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
      div Loading ...
